<!DOCTYPE html>
<html lang="en" ng-app="CPMapp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Projekt aplikacji CPM z przedmiotu 'Logistyka w Hutnictwie'">
    <meta name="author" content="Daniel Ziajka, Joanna Stefan">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/myStyles.css" rel="stylesheet">
    <link href="../../dist/vis.css" rel="stylesheet" type="text/css" />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CPM - Critical Path Method</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="top" ng-controller="NodeController">
        <button id="generateGraph" class="btn btn-xs btn-default" ng-click="initGraph()">generuj graf</button>
      </div>
      <div id="mynetwork" ng-controller="NodeController" hidden></div>
      <div class="row">
        <div class="table-fixer" >

          <div ng-controller="TaskController">

          	<table class="table" style="text-align: center">
                <!-- naglowek tabeli -->
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nazwa zdarzenia</th>
                    <th>Czas [dni]</th>
                    <th>Zależności</th>
                  </tr>
                </thead>
                <!-- formularz wypelniania danych -->
                <tr>
                <p>Demo:
                  <button class="btn btn-xs btn-default" ng-click="getDemo(1)">demo1</button>
                  <button class="btn btn-xs btn-default" ng-click="getDemo(2)">demo2</button></p>
                <button class="btn btn-xs btn-default" style="" ng-click="clearAll()">Wyczyść</button><br>
                <button id="showPath" class="btn btn-xs btn-default" ng-click="getPath()">Znajdź scieżkę krytyczną</button>

                <form name="taskForm" ng-submit="addTask()">
                  <div class="form-group" >                 
                    <td>
                      <button class="btn btn-xs btn-default" ng-disabled="taskForm.$invalid">Dodaj zdarzenie</button>
                    </td>
                    <td><input type="text" class="form-control" ng-model="taskName" required /> </td>
                    <td><input type="number" class="form-control" ng-model="taskTime" required /> </td>
                    <td><input type="text" class="form-control" ng-model="taskDependencies" /> </td>
                  </div>
                  </form>
                </tr>
                <!-- funkcja zbugowana! - usuwanie taksków powoduje błędy przy wyliczaniu konca sieci
                    usuwając np. 2 taski [B,C] z sieci [A,B,C,D,E] algorytm przyjmie koniec sieci jako [!A!,D,E] zamiast [A,D,!E!]
                    usunięcie 2 elementów cofa licznik o 2 a w rezultacie koniec sieci przesuwany jest o -4

                <span class="glyphicon glyphicon-remove-sign" ng-click="removeTask($index)"></span>
                -->
                <tr ng-repeat="task in tasks track by $index">
                	<td> {{ task.id }} </td>
                	<td> {{ task.name }} </td>
                	<td> {{ task.time }} </td>
                	<td> {{ task.dependencies }} </td>
                </tr>
          	</table>
          </div>
        </div>
      </div>
      
    </div><!-- /.container -->

    <!-- footer -->
    <div style ="height: 100px;"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    
    <!-- vendor's scripts -->
    <script src="../app/js/bootstrap.min.js"></script>
    <script src="../app/js/angular.min.js" ></script>
    <script src="../app/js/cpm.js"></script> 
    <script src="../app/js/vis.min.js"></script>
    
    <!-- angular main -->
    <script src="../app/app.js"></script>

    <!-- angular services -->
    <script src="../app/services/taskFactory.js"></script>

    <!-- angular controllers -->
    <script src="../app/controllers/TaskController.js"></script>
    <script src="../app/controllers/NodeController.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>