body {
  padding-top: 50px;
}

.top {
  padding: 40px 15px;
  text-align: center;
}

.table-fixer {
	text-align: center;
}

.table th	{
  text-align:center; 
  vertical-align:middle;
}

#mynetwork {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    margin: auto;
}
